<html>
    <%= render_partial "base/_head.html.erb" %>
    <body>
        <%= render_partial "base/_navbar.html.erb" %>
        <h2>Resources</h2>
        <ul>
            <li>
                <a href="/expenditures">Expenditures</a>
            </li>
        </ul>
    </body>
</html>