<html>
    <%= render_partial "base/_head.html.erb" %>
    <body>
        <%= render_partial "base/_navbar.html.erb" %>
        <div>
            <h1><%= @title %></h1>
            <p><a href="/expenditures">Back to the expenditures</a></p>
            <p>
                Username: <strong><%= @user.username %></strong><br />
            </p>
        </div>
    </body>
</html>